*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
header{
    background-color: rgb(10, 88, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    height: 7rem;
    width: 100%;
    position: fixed;
}
.logo-container img{
    display: flex;
    align-items: center;
}
div{
    font-size: 2rem;
}
nav{
    height: 100%;
}
.enlaces-container ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 100%;
}
.enlaces-container li{
    height: 100%;
    display: flex;
    align-items: center;
}
.enlaces-container li:hover{
    background-color: aqua;
}

.enlaces-container li a{
text-decoration: none;
color: #fff;
margin: 0 2rem;
font-size: 2.5rem;
font-family: 'Mukta', sans-serif;

}
.enlaces-container li a:hover{
    color: rgb(253, 0, 211);
}
.container-parrafo{
    display: flex;
    justify-content: center;
    width: 70%;
}
.parrafo-principal{
    font-size: 2rem;
    margin-top: 2rem;
}
main{
    display: flex;
    justify-content: center;
}
